<div class="container">
    <div class="innerForm">
        <h2>Welcome</h2>
        <router-outlet></router-outlet>
    </div>
    <div class="innerAbout">
        <h2>About</h2>
        <p>We offer you groceries of the best quality, fresh and clean.<br>
            And the Bonus in shopping with us is that NO MASKS NEEDED here!<br>
            Enjoy your purchase, we are at your service anytime!<br>
        </p>
        <img src="http://localhost:3001/shoppingCart.jpg" alt="Shopping cart"/>
    </div>
    <div class="innerDetails">
        <h2>Details</h2>
        <p><span class="material-icons" style="color:#F472B8">loyalty</span> Variety of {{productsQty}} products!</p>
        <p><span class="material-icons" style="color:#F472B8">mood</span> {{ordersQty}} good purchases!</p>
    </div>
</div>