.card{
    width: 250px;
    height: 420px;
    box-shadow: #ffffff 0px 0px 0px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}