.container{
    width: 100%;
    max-height: auto;
    min-height: 88vh;
    padding-top: 2vh;
    background-color: #f9f9fa;
}
  
.example-sidenav {
    padding: 20px;
    width: auto;
    background-color: #f9f9fa;
}

.button {
  margin-left: 15px;
  margin-top: 7px;
}

.drawerContainer {
  background-color: #f9f9fa;
}

@media screen and (max-width:1200px){
    .example-sidenav {
      width: 30%;
    }
}

@media screen and (max-width:768px){
    .example-sidenav {
      width: 65%;
    }
}